<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>430656125256-8mu14rncra26e7iatunfc7ol09kats7k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.430656125256-8mu14rncra26e7iatunfc7ol09kats7k</string>
	<key>API_KEY</key>
	<string>AIzaSyAATWbbz-_sapkoz3Ip9RF88StXawHWxjg</string>
	<key>GCM_SENDER_ID</key>
	<string>430656125256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trivio.Trivio-iOS</string>
	<key>PROJECT_ID</key>
	<string>trivio-55757</string>
	<key>STORAGE_BUCKET</key>
	<string>trivio-55757.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430656125256:ios:0fcaf56fc14ca033f99b7d</string>
</dict>
</plist>